/* Стили для главной страницы */
@import url("./fonts/fonts.css");

body{
    margin: 0;
    background-color: #000;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    padding: 20px 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
}

header .contact{
    margin-left: auto;
    color: white;
}

header .contact a{
    margin: 0 5px;
}

header .contact img{
    transition: .2s;
    width: 35px;
}

header .contact img:hover{
    transform: scale(1.1);
}

header .brand{
    color: white;
    margin: 0;
    font-family: MontserratB;
}

.mainSlider{
    margin: 0px;
}

.mainSlider-slide{
    height: 600px;
    text-decoration: none;
    transition: transform .3s;
}

@media (max-height: 900px) {
    .mainSlider-slide{
        height: 500px;
    }
}


.mainSlider-slide:hover{
    transform: scale(1.1);
}

@media (max-height: 800px) {
    .mainSlider-slide{
        height: 400px;
    }

    .mainSlider-slide:hover{
        transform: scale(1.05);
    }
}

.mainSlider-slide__content{
    height: 100%;
    margin: 0 40px;
}

.mainSlider-slide__content img{
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.mainSlider-slide__content h2{
    margin: 0;
    color: white;
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
    font-family: MontserratB;
}

.mainSlider-slide__content p{
    margin: 0;
    color: white;
    margin-top: 2px;
    text-align: center;
    font-family: MontserratL;
}

.slick-prev, .slick-next{
    background-color: transparent;
}

footer{
    font-family: MontserratR;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    color: white;
    padding: 0 40px;
}

footer a{
    margin-left: auto;
    color: white;
}

footer a:hover{
    color: blue;
}